* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.my_album_cards {
  width: 100%;
}
.my_album_cards ul {
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-top: 2rem;
}
.my_album_cards li {
  display: inline-block;
  width: 80%;
  margin-bottom: 2rem;

  background-color: aqua;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border-radius: 30px;
  padding: 1.5rem 0;
}
.my_album_cards li img {
  width: 225px;
  height: 225px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 1rem;
}
@media screen and (min-width: 600px) {
  .my_album_cards li {
    width: 40%;
  }
}

@media screen and (min-width: 900px) {
  .my_album_cards li {
    width: 30%;
  }
}
